

#aboutMe, #education, #CollegeResults, #workExp, header{
  margin-left: 	5em;
  padding-top:	5em;
}

header {
  color:			blue;
}

header p{
  color:			black;
  padding:		1em 10em 0em 10em;
}

.My-buttons{
  padding-top: 5em;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#welcomeButtons {
float:center;
  
}
.my-navbar{
  background: #1104ce;
}


.my-Img{
  float:center;
  height: 20em;
  width: 20em;
  border: 0.5em solid whitesmoke;
  margin-left: auto;
	margin-right: auto;
  display: block;

}


#buttons{
 
  padding: 2em;
  
}


#ImgDiv{
  padding-top:2em;
  
}

.downloadbtn{
  background:white;
}

#DownloadCv{
  background: white;
}

#Name{
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#searchBar{
  margin-right: 500em;
}

.jumbotron {
  color: white;
  background-color: black;    
}
